
        <div class="container single-page">
        
        <div class="content-inner">
             
             <section class="row margin-top">   
                <div class="span8">
                
                	<h3>Our way is JUST better</h3>
                    
                    <img src="/assets/image1.png" alt="image1" />
                    
                    <div class="row margin-bottom20">
                    
                    	<div class="span4">
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Donec id augue elit. Maecenas nulla libero. 
                                Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Nulla ipsum dolor, hendrerit quis malesuada 
                                sed, vulputate id ante. </p>
                        </div><!--/span4-->
                        
                        <div class="span4">
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Donec id augue elit. Maecenas nulla libero. 
                                Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Nulla ipsum dolor, hendrerit quis malesuada 
                                sed, vulputate id ante. </p>
                        </div><!--/span4-->
                    
                    </div><!--/row-->
                    
                    <h2>Try out this wonderful country, you won’t regret!</h2>
                    
                    <div class="row margin-bottom20">
                    
                    	<div class="span4">
                        	<img src="/assets/image2.png" alt="image"/>
                        </div>
                        
                        <div class="span4">
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Donec id augue elit. Maecenas nulla libero. 
                                Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Lorem ipsum dolor sit amet, consectetur adipi
                                elit. Donec id augue elit. Maecenas nulla libero. 
                                Lorem ipsum dolor sit amet, consectetur adipisc
                                elit. Nulla ipsum dolor, hendrerit quis malesuada 
                                sed, vulputate id ante. </p>
                            <br/>
                            <a href="#" class="btn btn-small btn-very-small">Visit website &gt;</a>
                        </div>
                        
                    </div><!--/row-->
                    
                    <div class="row margin-bottom20">
                        
                        <div class="span4">
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Donec id augue elit. Maecenas nulla libero. 
                                Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Lorem ipsum dolor sit amet, consectetur adipi
                                elit. Donec id augue elit. Maecenas nulla libero. 
                                Lorem ipsum dolor sit amet, consectetur adipisc
                                elit. Nulla ipsum dolor, hendrerit quis malesuada 
                                sed, vulputate id ante. <a href="#">Read on...</a></p>

                        </div>
                        
                        <div class="span4">
                        	<img src="/assets/image3.png" alt="image"/>
                        </div>
                        
                    </div><!--/row-->
                    
                    <div class="alert alert-error">
                    	<p><i class="icon-warning-sign"></i>Oh snap! There’s certainly an error crossed your way. Please blame Erik or Johan.</p> 
                    </div>
                    
                    <div class="alert alert-success">
                    	<p><i class="icon-ok-sign"></i>Yayx, you’ve just made something in the way it’s expected. Splendid!</p> 
                    </div>
                    
                    <div class="alert alert-info">
                    	<p><i class="icon-info-sign"></i>We believe you need to know about this. Therefore it’s an info msg.</p> 
                    </div>

   

                </div><!--/span8-->
                
                <!--FIND YACHT-->
                
                <div class="span300 pull-right">
                    
                    <div class="find-yacht-content margin-bottom20">
                    	<h2>Yachts available</h2>
                        
                        <div class="similar-listing">
                            <a href="#"><img alt="" src="/assets/spec-item-slider/thumbs/slide1-tumb.png" /></a>
                            <div class="thumbnail-text">
                                <a href="#"><h5>Foot loose 412</h5>
                                <h6>Bingo Marina, Dubrovnik</h6>
                                <p>&pound;412.48</p>
                                </a>
                       		</div>
                            <div class="clearfix"></div>
                       </div>
                       
                       <div class="similar-listing">
                           <a href="#"><img alt="" src="/assets/spec-item-slider/thumbs/slide2-tumb.png" /></a>
                           <div class="thumbnail-text">
                               <a href="#"><h5>Foot loose 412</h5>
                               <h6>Bingo Marina, Dubrovnik</h6>
                               <p>&pound;412.48</p>
                               </a>
                           </div>
                           <div class="clearfix"></div>
                       </div>
                       
                       <div class="similar-listing">
                           <a href="#"><img alt="" src="/assets/spec-item-slider/thumbs/slide3-tumb.png" /></a>
                           <div class="thumbnail-text">
                                <a href="#"><h5>Foot loose 412</h5>
                                <h6>Bingo Marina, Dubrovnik</h6>
                                <p>&pound;412.48</p>
                                </a>
                           </div>
                           <div class="clearfix"></div>
                       </div>
                       
                       <a href="#" class="btn btn-small btn-danger pull-right">all available yachts</a>
                       
                       <div class="clearfix"></div>

                    </div><!--/find-yacht-content-->
                   
                    <div class="local-weather margin-bottom20">
                    	<h4>Local Weather</h4>
                        <div class="weather-text pull-left">
                        	<div class="dotted">
                            	<div class="pull-left">
                            		<h6>Istria</h6>
                                	<p><span>Average weather in July</span></p>
                                </div>
                                <h5 class="pull-right">28&deg;</h5>
                                <div class="clearfix"></div>
                            </div>
                            	<a href="#" class="btn btn-small btn-very-small pull-left">See more</a>
                                <div class="pull-right">
                                	<p>Lowest: 21</p>
                                	<p>Highest: 31</p>
                                </div>
                        </div>
                        <div class="weather-ico sun">
                        </div>
                    </div><!--local-weather-->
                    
                    <div class="clearfix"></div>
                    
                    <br/>
                    
                    <div class="find-yacht-content">
                    	<h4>Best Restaurants</h4>
                        <img src="/assets/restaurant.png" alt="restaurant" />
                        <br/>
                        <br/>
                        <p>Nulla placerat placerat euismod. Sed id arcu 
						lectus. Quisque consequat ullamcorper sagittis.</p>
                        <a href="#" class="btn btn-small btn-very-small pull-right">Read more &gt;&gt;</a>
                        <div class="clearfix"></div>
                    </div><!--/best-places-->
                	
                </div><!--/span3-->
            </section><!--/row listing-->
        
        </div><!--/content-inner-->
        
        </div><!--/container-->