<div class="container">    

	<!-- this is a hack to get the spacing needed... -->
	<section class="nav-menu-forms">
		<h1>Got it!</h1>
	</section>

	<section class="content-inner">   
		<div class="row">
			<div class="span12">
				Thanks! We've got you registered now!
			</div>

		</div>
	</section>
</div>



