<% content_for :title do %>Your Reservation<% end %>



        <div class="container single-page">
        
        <div class="content-inner">
             
             <section class="row margin-top">   
                <div class="span12">
                
									<h3>Already have a reservation? Access it here!</h3>

									<form action="/your-reservation">

										<p>
											Yachts and Friends reservation number:
										</p>

										<p>
										<input type="text" name="identifier" placeholder="e.g. AB123456"/>
										</p>
 					          
 					          <button class="btn btn-danger btn-small" type="submit">show my reservation</button>


									</form>


                </div><!--/span12-->
                
            </section><!--/row listing-->
        
        </div><!--/content-inner-->
        
        </div><!--/container-->


